<script>
  function changeGiscusTheme(theme) {
    function sendMessage(message) {
      const iframe = document.querySelector('iframe.giscus-frame');
      if (!iframe) return;
      iframe.contentWindow.postMessage({ giscus: message }, 'https://giscus.app');
    }
    sendMessage({
      setConfig: {
        theme: theme
      }
    });
  }

  // set giscus theme after giscus has been loaded
  function handleGiscusMessage(event) {
    if (event.origin !== 'https://giscus.app') return;
    if (!(typeof event.data === 'object' && event.data.giscus)) return;

    // const giscusData = event.data.giscus;
    changeGiscusTheme(globalColorMode);
    window.removeEventListener('message', handleGiscusMessage);
  }

  window.addEventListener('message', handleGiscusMessage);

  if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
    document.documentElement.classList.add('dark');
    changeGiscusTheme('dark');
    globalColorMode = 'dark';
    console.log('dark');
  } else {
    document.documentElement.classList.remove('dark');
    changeGiscusTheme('light');
    globalColorMode = 'light';
    console.log('light');
  }
</script>
