<div class="sm:px-8 mt-9">
  <div class="mx-auto w-full max-w-7xl lg:px-8">
    <div class="relative px-4 sm:px-8 lg:px-12">
      <div class="mx-auto max-w-2xl lg:max-w-5xl">
        <div class="max-w-2xl">
          <h1 class="text-4xl font-bold tracking-tight text-zinc-800 sm:text-5xl dark:text-zinc-100">
            {{ page.category-headline | default: "At home in Singapore.<br>Home in the world." }}
          </h1>
          <p class="mt-6 text-base text-zinc-600 dark:text-zinc-400">
            {{ page.category-description | default: "Hi, I'm Julian, and this is where I mostly publish travel ralated posts and pictures." }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
