---
---

<!DOCTYPE html>
<html lang="en" class="h-full antialiased">

<head>
  <meta charSet="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }} - {{ site.title }}</title>
  <meta name="description"
    content="I’m Julian, rocket ship builder, pizza expert, loves the Giants, parent. This is my personal travel blog.">
  <link rel="icon" href="/favicon.ico" type="image/x-icon" sizes="16x16">
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  {% include colorscheme-js.html %}
  {% include favicon.html }
</head>

<body class="flex h-full bg-zinc-50 dark:bg-black">
  <div class="flex w-full">
    <div class="relative flex w-full flex-col">
      <header class="pointer-events-none relative z-50 flex flex-none flex-col">
        {% include navbar.html %}
      </header>
      <div class="flex-none" style="height:var(--content-offset)"></div>
      <main class="flex-auto">
        {% include homepage_header.html %}
        {% include image_row.html %}
        <div class="sm:px-8 mt-24 md:mt-28">
          <div class="mx-auto w-full max-w-7xl lg:px-8">
            <div class="relative px-4 sm:px-8 lg:px-12">
              <div class="mx-auto max-w-2xl lg:max-w-5xl">
                <div class="mx-auto grid max-w-xl grid-cols-1 gap-y-20 lg:max-w-none lg:grid-cols-2">
                  <div class="flex flex-col gap-16">
                    {{ content }}
                  </div>
                  <div class="space-y-10 lg:pl-16 xl:pl-24">
                    {% include box_newsletter.html %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <footer class="mt-32 flex-none">
        {% include footer.html %}
      </footer>
    </div>
  </div>
  {% include toggle-js.html %}
</body>

</html>
