---
---

<!DOCTYPE html>
<html lang="en" class="h-full antialiased">

<head>
  <meta charSet="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ page.title }} - {{ site.title }}</title>
  <meta name="description"
    content="I’m Julian, rocket ship builder, pizza expert, loves the Giants, parent. This is my personal travel blog." />
  <link rel="icon" href="/favicon.ico" type="image/x-icon" sizes="16x16" />
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  {% include colorscheme-js.html %}
</head>

<body class="flex h-full bg-zinc-50 dark:bg-black">
  <div class="flex w-full">
    <div class="fixed inset-0 flex justify-center sm:px-8">
      <div class="flex w-full max-w-7xl lg:px-8">
        <div class="w-full bg-white ring-1 ring-zinc-100 dark:bg-zinc-900 dark:ring-zinc-300/20"></div>
      </div>
    </div>
    <div class="relative flex w-full flex-col">
      <header class="pointer-events-none relative z-50 flex flex-none flex-col" style="height:var(--header-height);margin-bottom:var(--header-mb)">
        {% include navbar.html %}
      </header>
      <main class="flex-auto">
        <div class="sm:px-8 mt-16 lg:mt-32">
          <div class="mx-auto w-full max-w-7xl lg:px-8">
            <div class="relative px-4 sm:px-8 lg:px-12">
              <div class="mx-auto max-w-2xl lg:max-w-5xl">
                <div class="xl:relative">
                  <div class="mx-auto max-w-2xl">
                    <article>
                      <header class="flex flex-col">
                        <h1 class="mt-6 text-4xl font-bold tracking-tight text-zinc-800 sm:text-5xl dark:text-zinc-100">
                          {{ page.title }}</h1>
                        <time dateTime="2022-09-05"
                          class="order-first flex items-center text-base text-zinc-400 dark:text-zinc-500">
                          <span class="h-4 w-0.5 rounded-full bg-zinc-200 dark:bg-zinc-500"></span>
                          <span class="ml-3">{{ page.date | date: "%A, %B %d, %Y" }}</span>
                        </time>
                      </header>
                      <div class="mt-8 prose dark:prose-invert" data-mdx-content="true">
                        {{ content }}
                      </div>
                    </article>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <footer class="mt-32 flex-none">
        {% include footer.html %}
      </footer>
    </div>
  </div>
  {% include toggle-js.html %}
</body>

</html>
